@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

ul.navbar {
  list-style-type: none;
  background-color: #2f2b53;
  overflow: hidden;
}

ul.navbar li {
  float: right;
}

ul.navbar .logo {
  float: left;
}

ul.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.navbar li a:hover,
ul.navbar li a.active {
  background-color: #111;
}

.profile-img {
  float: right;
  margin: 0 0 90px 20px;
  border: 1px dotted black;
}


#footer {
  background-color: #2f2b53;
  color: white;
  margin-top: 40px;
}

.main-footer {
  display: flex;
  justify-content: space-evenly;
  padding: 70px 0;
  flex-wrap: wrap;
}

.main-footer h1, .main-footer h2 {
  color: #fff;
  font-weight: 500;
}

.contact-details ul {
  list-style: none;
}

.contact-details li {
  margin: 10px 0;
}

.contact-details i {
  margin-right: 10px;
}

.contact-details a {
  color: #f1f1f1;
  text-decoration: none;
}

.com ul {
  list-style: none;
}

.com ul li {
  margin: 5px 0;
}

.com ul li a {
  color: #ffffffcc;
  text-decoration: none;
}

.sociallogos a {
  font-size: 22px;
  color: white;
  padding-right: 10px;
}

footer {
  background-color: #2f2b53;
  border-top: 1px solid #1d2742;
  padding: 15px 5px;
  text-align: center;
  color: white;
}

@media (max-width: 749px) {
  .main-footer {
    flex-direction: column;
    padding: 20px;
  }
}

.ffbox {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
    background-color: #fff;
    border: 3px solid #e4e4e9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .ffbox1 {
    flex: 1;
    padding: 20px;
  }
  
  .ffbox1 label {
    display: block;
    margin-bottom: 8px;
  }
  
  .ffbox1 input,
  .ffbox1 textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border-radius: 15px;
    background-color: #dcdce1;
    border: none;
    font-family: 'Poppins', sans-serif;
  }
  
  .ffbox1 textarea {
    resize: vertical;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #2f2b53;
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 700;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: rgb(52, 98, 58);
  }
  
  .gfg {
    text-align: center;
    color: #2f2b53;
    margin-bottom: 20px;
  }
  
  .map-div {
    flex: 1;
    min-height: 400px;
    background-color: #2f2b53;
  }
  
  @media (max-width: 768px) {
    .ffbox {
      flex-direction: column;
    }
  
    .map-div {
      height: 300px;
    }
  }
  
